<tr>
  <td><img src="<%=car.image%>" width="100px" height="80px"></td>
  <td><%=car.model%></td>
  <td><%=car.make%></td>
  <td>€ <%=car.price%></td>
  <td><%=car.mileage%> km</td>
  <td><%=car.year%></td>
  <td><%=car.fuel%></td>
</tr>